{:paths ["resources" "src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.3"}

        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}

        ;; org.apache.ignite/ignite-core {:mvn/version "2.10.0"}
        ;; org.apache.ignite/ignite-spring {:mvn/version "2.10.0"}
        ;; org.apache.ignite/ignite-zookeeper {:mvn/version "2.10.0"}

        org.gridgain/ignite-core {:mvn/version "8.8.5"}
        org.gridgain/ignite-spring {:mvn/version "8.8.5"}
        org.gridgain/ignite-zookeeper {:mvn/version "8.8.5"}

        nrepl/nrepl {:mvn/version "0.8.3"}
        cider/cider-nrepl {:mvn/version "0.26.0"}
        refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}

        aero/aero {:mvn/version "1.1.6"}

        mount/mount {:mvn/version "0.1.16"}

        ;; org.clojure/tools.deps.alpha
        ;; {:git/url "https://github.com/clojure/tools.deps.alpha.git"
        ;;  :sha "64a1ee2a7bc336fe026d35f406374238d8f44af3"}
        }

 :mvn/repos
 {"GridGain External Repository"
  {:url "http://www.gridgainsystems.com/nexus/content/repositories/external"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}

  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "62ef1de18e076903374306060ac0e8a752e57c86"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}

  :lint {:extra-deps {com.jameslaverack/cljfmt-runner
                      {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                       :sha "6383fbb0bd22a21c0edf5b699425504d9f0a958a"}}
         :main-opts ["-m" "cljfmt-runner.check"]}
  :lint/fix {:main-opts ["-m" "cljfmt-runner.fix"]}

  :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
              :main-opts ["-m" "clj-kondo.main"
                          "--lint" "."]}

  :uberjar {:extra-deps {uberdeps/uberdeps {:mvn/version "1.0.4"}}
            :main-opts ["-m" "uberdeps.uberjar"]}
  }}
