{:paths ["resources" "src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}

        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}

        ;; org.apache.ignite/ignite-core {:mvn/version "2.8.0"}
        ;; org.apache.ignite/ignite-spring {:mvn/version "2.8.0"}
        ;; org.apache.ignite/ignite-zookeeper {:mvn/version "2.8.0"}

        org.gridgain/ignite-core {:mvn/version "8.7.22"}
        org.gridgain/ignite-spring {:mvn/version "8.7.22"}
        org.gridgain/ignite-zookeeper {:mvn/version "8.7.22"}

        nrepl/nrepl {:mvn/version "0.6.0"}
        cider/cider-nrepl {:mvn/version "0.24.0"}
        refactor-nrepl {:mvn/version "2.4.0"}

        aero {:mvn/version "1.1.5"}

        mount {:mvn/version "0.1.16"}

        ;; org.clojure/tools.deps.alpha
        ;; {:git/url "https://github.com/clojure/tools.deps.alpha.git"
        ;;  :sha "64a1ee2a7bc336fe026d35f406374238d8f44af3"}
        }

 :mvn/repos
 {"GridGain External Repository"
  {:url "http://www.gridgainsystems.com/nexus/content/repositories/external"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}

  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}

  :outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
             :main-opts ["-m" "depot.outdated.main"]}

  :lint {:extra-deps {com.jameslaverack/cljfmt-runner
                      {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                       :sha "d6952345b3047e03ca3a88f89a1433c109b7b442"}}
         :main-opts ["-m" "cljfmt-runner.check"]}
  :lint/fix {:main-opts ["-m" "cljfmt-runner.fix"]}

  :clj-kondo {:extra-deps {clj-kondo {:mvn/version "RELEASE"}}
              :main-opts ["-m" "clj-kondo.main"
                          "--lint" "."]}

  :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.8"}}
            :main-opts ["-m" "uberdeps.uberjar"]}
  }}
